h1 {font-family: baskerville; color: red }
h2 {font-family: baskerville; color: red }
body {background-image: url('Background Textures/clouds-fluffly-clouds-seamless-background-light.jpg')}
figure { width: 500px; padding: 5px; background-color: #cccccc}
figcaption { font-family: ariel; font-weight: bold; text-align: center;}